<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="./css/style2.css">
</head>
<body>
    <header>
        <h1>Repuestos Automotores</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%-include('./partials/nav') %>
    </nav>
    <main>
        <section id="Calidad">
            <div class="PoliticaCalidad">
                <h1>POLÍTICA DE CALIDAD</h1>
                <h5>Home -- Política de Calidad</h5>
            </div>
            <div class="NuestraPolitica">
              <h3>NUESTRA POLÍTICA DE CALIDAD</h3>
            </div>
            <div class="Redaccion"> 
              <img src="./imagenes/service.jpg">
              <p> 
                RP es una empresa con más de 30 años de experiencia que se dedica a la venta y distribución de repuestos y soluciones para la industria automotriz.

                Fue constituida con capitales netamente argentinos. Cuenta con estrategias comerciales que la han ubicado en un lugar de privilegio en el Mercado de repuestos para automotores.
                
                La empresa cuenta con personal altamente capacitado y dedicado a cumplir lealmente con las pautas impartidas por su Directorio.
                
                Los repuestos que son fabricados en su planta de fundición y que son comercializados en todo el territorio Argentino y en países limítrofes cumplen las especificaciones exigidas por la industria automotriz.
                
                El principal objetivo de la Empresa es la producción de elementos de alta seguridad y calidad brindando asesoramiento técnico y atención comercial  a sus clientes tanto pre como post venta. 
                </p>
                <p>
                  Desde el primer día buscamos la excelencia en la atención del cliente, y por eso innovamos permanentemente, pensando en las exigencias actuales. Fuimos creciendo hasta tener hoy una de las líneas más completas de repuestos para el automotor, especializandose en Fiat, Renault, Peugeot, Chevrolet, Ford y Volkswagen. Disponemos además de un stock considerable y de un servicio de entrega inmediata.

                  Nuestros objetivos estratégicos se basan en el crecimiento sostenido y la búsqueda permanente de la satisfacción del cliente. Para brindar siempre más y mejores negocios, aseguramos:
                  <ul>
                    <li>El stock más completo.</li>
                    <li>Precios competitivos.</li>
                    <li>Respeto por nuestros clientes.</li>
                  </ul>
                </p>
            </div>
        </section>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>