<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="./css/style3.css">
</head>
<body>
    <header>
        <h1>Repuestos Automotores</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%-include('./partials/nav') %>
    </nav>
    <main>
        <section id="ServicioPag">
            <div class="IntroCatalogo">
                <h1>CATALOGO</h1>
                <h5>Home -- Catalogo de servicios</h5>
            </div>
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 19rem;">
                                <img src="./imagenes/serv3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Servicio de Mantenimiento Automotriz Preventivo</p>
                                  <p>El primer servicio que se debe hacer a un auto o vehículo doméstico es el de los primeros 5,000 km y en él se lleva a cabo una revisión exhaustiva de los puntos clave del funcionamiento. El resultado de este análisis determinará si se da mantenimiento o se cambian algunos de los componentes.</p>
                                </div>
                              </div>
                        </div>
                        
                        <div class="col">
                            <div class="card" style="width: 19rem;">
                                <img src="./imagenes/serv2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Servicio Automotriz a los 5,000 Km</p>
                                  <p>En el Servicio automotriz de 5,000 Km es recomendable revisar varios de los siguientes puntos:</p>
                                  <ul>
                                    <li>Cambio de aceite y filtro</li>
                                    <li>Limpieza del filtro de aire, de gasolina y las bujías</li>
                                    <li>Revisión de luces</li>
                                    <li>Ajuste del tiempo de encendido</li>
                                    <li>Revisión de clutch</li>
                                    <li>Borner</li>
                                    <li>Nivelar la batería</li>
                                    <li>Revisar el tren delantero</li>
                                  </ul>
                                  <p>Aun cuando parece un listado largo, los componentes son sencillos y son los que con mayor probabilidad requerirán atención o reemplazo para el correcto funcionamiento.</p>
                                </div>
                              </div>
                        </div>

                        <div class="col">
                            <div class="card" style="width: 28rem;">
                                <img src="./imagenes/serv1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Servicio Automotriz a los 10,000 Km</p>
                                  <p>Después del primer Servicio para tu Auto, es recomendable hacer uno a los 10,000 Km y en adelante cada 10,000 Km (o cada año, lo que ocurra primero). Como es lógico, este Servicio requerirá más cambios de componentes, pero es indispensable para prevenir daño severo.</p>
                                  <p>Un Servicio Automotriz estándar de cada 10,000 Km puede incluir:</p>
                                  <ul>
                                    <li>Cambio de bujías</li>
                                    <li>Cambio de aceite y filtro</li>
                                    <li>Cambio del filtro de gasolina y aire</li>
                                    <li>Cambio del refrigerante</li>
                                    <li>Cambio de la faja del alternador</li>
                                    <li>Ajuste del tiempo de encendido</li>
                                    <li>Revisión de las luces y los faros</li>
                                    <li>Ajuste del clutch</li>
                                    <li>Revisión de los niveles de: la caja, la batería e hidráulico</li>
                                    <li>Limpieza de terminales de batería</li>
                                    <li>Revisión de los frenos y el tren delantero</li>
                                  </ul>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section id="FinServicio">
          <div class="Servi">
            <p>Una vez hecho cualquiera de los dos servicios, es recomendable que te asegures de que tu auto quedó perfecto, pues de esto depende tu seguridad y el futuro estado del vehículo. En los establecimientos de Servicio Ford, por ejemplo, un asesor te dará un recorrido, donde podrás probar las diferentes capacidades de los componentes revisados. En este paso, te dirán los cambios que tuvo el vehículo y debes estar atento de sonidos y apariencia.</p>
          </div>
        </section>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>