header{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}

h2{
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}


body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer{
    background-color: lightskyblue;
    box-sizing: content-box;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: grey;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

@media (min-width:319px){
    .Ayuda{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./imagenes/pastillafreno.jpg");
        background-repeat: no-repeat; 
        overflow: hidden;
        height: 40vh;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-align: center;
    }

    img {
        width: 10vh;
        height: 21vh; 
    }

    footer{
        padding: 2%;
    }
   }
   
   
@media (min-width:768px) {
    .Ayuda{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./imagenes/pastillafreno.jpg");
        background-repeat: no-repeat; 
        overflow: hidden;
        height: 50vh;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-align: center;
    }

    img {
        width: 50vh;
        height: 23vh; 
    }

    footer{
        padding: 1%;
    }
 
}

@media (min-width:1000px) {
    .Ayuda{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/imagenes/pastillafreno.jpg");
        background-repeat: no-repeat; 
        overflow: hidden;
        height: 80vh;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-align: center;
    }

    img {
        width: 50vh;
        height: 43vh; 
    }
}