body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contenedor{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 75px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
}

p{ 
    text-align: center;
    color: blue;
    font-family: 'Roboto Slab', serif;
}

img{
    width: 100%;
    height: 100%;
}

.card{
    border: 3px solid grey;
}


header{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}

footer{
    background-color: lightskyblue;
    box-sizing: content-box;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: grey;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

@media (min-width:320px) {
    footer{
        padding: 2%;
    }
}

@media (min-width:768px) {
    footer{
        padding: 1%;
    }
}